<div class="main">
  <section><%= @article.title %></section>
  <% @article.steps.each do |step| %>
    <section><%= step.body %></section>
  <% end %>
</div>

<script>
  $(".main").onepage_scroll();
</script>
